<div class="grid-container">
  <mat-grid-list [cols]="breakpoint" rowHeight="450px" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let c of courses">

      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <img (click)="openCourse(c)" style="padding-top: 5px; cursor:pointer" mat-card-image [src]="c.logo_url">
            <span style="cursor: pointer; color: blue" (click)="openCourse(c)">
              <b>{{c.title}}</b>
            </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <p [innerHTML]="c.description" style="height: 100%"></p>


        </mat-card-content>
        <mat-card-footer style="text-align: center">
          <h3 style="color:gray;padding-top: 0px">
            <b>Categoria</b>
          </h3>
          <p>
            <b>{{c.category.title}}</b>
          </p>

          <h3 style="color:gray;padding-top: 0px">
            <b>Aulas</b>
          </h3>
          <p>
            <b>{{c.lectures.length}} aulas</b>
          </p>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>